<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>03</string>
		<string>04</string>
		<string>07</string>
		<string>09</string>
		<string>10</string>
		<string>11</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>userIconName</key>
	<string>Folder</string>
</dict>
</plist>
