<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>farcry-devcamp-melbourne-11-nov-2009.html</string>
		</array>
		<array>
			<string>flush-coldfusion-trusted-cache-from-farcry-we.html</string>
		</array>
		<array>
			<string>pagination-tags.html</string>
		</array>
		<array>
			<string>sample-rss-feed.html</string>
		</array>
		<array>
			<string>to-wet-your-openid-tastebuds.html</string>
		</array>
		<array>
			<string>webskin-usage-summary.html</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Folder</string>
</dict>
</plist>
